<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <CustasProtesto>

    <!--
      [ ConexaoBanco ]
      Exemplo de conexão para SQL Server: "Server=192.168.100.226;Database=ProtestoBeta2"
      Exemplo de conexão Firebird: "192.168.100.226:c:\db\SELOS_GO.GDB"
    -->
    
    <ConexaoBanco value="2932392A063C363D3F2E2A420B2D15E115070139BA4650BAA6BD525BB0A0BFF30BFDFDE0DF" />
    <UsuarioBanco value="0E050717350A140735" />
    <SenhaBanco value="0E050717350A1407350A1F3B" />
    <Token value="1C2C3514262E300A154B4E0B396905D14D163039E43147E8" />
    <ChaveEmolumentoArquivamento value="5644" />
    
    <!-- 
    [ TipoDeConexao ]
    0 para Firebird -> 56
    1 para SQL Server -> 57
    -->

    <TipoDeConexao value="57" />
  </CustasProtesto>
</configuration>
