<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WebserviceTj" value="091B140A260A013615182510183701F206123F0EF6580DE5ECE41E09E1F4F0DE1DE4FBE4D3FDFAF4F80EFEF0F3A00EFBB3E0EFCC8AC6FFE2EA83F2FCE3C4C2C5DDDED3C5D2EEC9948391EBC5CDDBDE"/>

     <!--
      [ ConexaoBanco ]
      Exemplo de conexão para SQL Server: "Server=192.168.100.226;Database=SELOS_GO"
      Exemplo de conexão Firebird: "192.168.100.226:c:\db\SELOS_GO.GDB"
    -->

    <add key="ConexaoBanco" value="2431214B1D282C3A3F303F2C323F00E2302F0F1CE2021DEFF0C8203EC0CECDD53DCEDBCADEC8CACFC33DFFEBFEEA11F0EBFFF5D0CACCEBEDDAF1A4D8B0939D919B9B839996B89C959B99A9"/>
    <add key="UsuarioBanco" value="273722360B3C"/>
    <add key="SenhaBanco" value="1F100D17371B00081D"/>
    <add key="Token" value="2B1B0C143605380B3D382D313A2D1A"/>
    <add key="CodigoCartorio" value=""/>
    <add key="ChaveSegurancaCartorio" value=""/>
    <add key="HashDoCartorio" value=""/>
    <add key="Login" value=""/>
    <add key="Senha" value=""/>

    <!-- 
      [ TipoDeConexao ]
      0 para Firebird -> 56
      1 para SQL Server -> 57
    -->
    <add key="TipoDeConexao" value="56" />
  </appSettings>
</configuration>
